body {
	width: 100%;
/*	height: 100%;*/
	background-image: url(../images/background.png);
/*	background-repeat: repeat;*/
	background-size: 600px;
	text-align: center;
	font-family: 'Crete Round', serif;

}

/*-----playgame.html and gameover.html-----------*/



#game,
#gameover,
#playgame {

	border: 3px solid black;
	/*	box-shadow: 3px 7px 15px white;*/
	border-radius: 10px;
	background-color: #c0dfd9;
	background-size: 60%;
	width: 420px;
	height: 600px;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

/*
@media (max-width: 700px) {
	
	#game {
		width: 315px;
		height: 450px;
	}

	#gameover {
		width: 315px;
		height: 450px;
	}

	#playgame {
		width: 315px;
		height: 450px;
	}
}
*/

/*
@media (max-height: 700px) {
	
	#game {
		width: 315px;
		height: 450px;
	}

	#gameover {
		width: 315px;
		height: 450px;
	}

	#playgame {
		width: 315px;
		height: 450px;
	}
}
*/


.showcase {
	width: 420px;
	height: 50px;
	border-radius: 10px;
	padding-top: 20px;
	text-align: center;
	color: black;
	margin-top: -40px;
	font-size: 2.8em;
}


.playbutton button {
	width: 120px;
	height: 120px;
	border: 1px solid #fccdd3;
	background-color: #fccdd3;
	color: white;
	border-radius: 200px;
	margin-top: 190px;
	box-shadow: 0px 5px 15px black;
	font-size: 3em;

}

/*
@media (max-width: 700px), (max-height: 700px ) {
	.showcase {
		width: 350px;
		height: 50px;
		font-size: 2.2em;
		margin-left: -12px;
		margin-top: 20px;

	}

	.showcase h4 {
		margin-top: 65px;
	}

	.playbutton button {
		width: 60px;
		height: 60px;
		font-size: 2.0em;
		margin-top: 50px;
		box-shadow: 0px;
	}
}
*/



/*------------index.html-----------*/


#totalscore {
	display: flex;
	margin: 0px 0px 0px 40px;
	text-align: left;
	font-size: 2em;
	font-weight: 600;
	color: black;
}

#totalscore .resulttext {
	width: 200px;
	height: 100px;
	font-weight: 600;
	font-size: 1.3em;
	padding-left: 70px;
}

#question {
	width: 200px;
	height: 150px;
	position: relative;
	margin-top: -100px;
	margin-left: -80px;
	display: inline-flex;
	font-size: 4.0em;
	letter-spacing: 15px;
	color: black;

}

#options {

	margin-top: 20px;
	display: grid;
}


#options .x {

	width: 336px;
	height: 70px;
	background: white;
	color: gray;
	margin: auto;
	margin-bottom: 4px;
	text-align: center;
	font-size: 3em;
	position: relative;
	border: 3px solid black;
	border-radius: 10px;
	color: black;
	font-family: 'Crete Round', serif;
}

/*
@media (max-width: 700px) {
	#options {

		margin-top: 8px;

	}

	#options .x {
		width: 252px;
		height: 50px;
		font-size: 2.2em;

	}

	#question {
		font-size: 3em;
		padding-left: 50px;
	}

	#totalscore .resulttext {
		width: 200px;
		height: 100px;
		font-weight: 600;
		font-size: 1em;
		padding-left: 60px;
	}

}
*/


#liquid1 {
	transition: width 5s;
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 100%;
	width: 0%;
	background-color: red;
	opacity: 0.4;
}

#liquid2 {
	transition: width 5s;
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 100%;
	width: 0%;
	background: red;
	opacity: 0.4;
}

#liquid3 {
	transition: width 5s;
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 100%;
	width: 0%;
	background: red;
	opacity: 0.4;
}

/*gameover*/

.scoreboard {
	color: black;
	/*	margin-top: 60px;*/
	padding-left: 40px;
	text-align: left;
	font-size: 1.5em;

}

/*
@media (max-width: 700px) {
	.scoreboard {
		margin-top: 54px;
		padding-left: 40px;
		text-align: left;
		font-size: 1.2em;

	}

}
*/



/*------------footer-----------*/

footer {
	margin: auto;
	width: 240px;
	border-radius: 10px;
	font-size: 1em;
	background-color: white;
	
}

}
